<!-- <h4>Wiki Corporativa</h4> -->

<!-- <h5>{{titulo}}</h5> -->
<!-- <ul style="list-style-type: none">
  <li >Cras justo odio</li>
  <li >Dapibus ac facilisis in</li>
  <li >Morbi leo risus</li>
  <li >Porta ac consectetur ac</li>
  <li >Vestibulum at eros</li>
</ul> -->


<!-- <ul>
  <li *ngFor="let item of topicos"> 
    {{ item.assunto }}
  </li>
</ul>  -->

<ul *ngFor="let item of topicos" style="list-style-type: none">
  <li>
    {{ item.assunto }}
    <ul style="list-style-type: none">
      <li *ngFor="let item of item.artigos">
        <u>
          <!-- <a  routerLink="/Artigo"> -->
          <a  (click)="abrirArtigo(item)">
            {{ item.titulo }}
          </a>
        </u>
      </li>
    </ul>
  </li>
  
</ul>